<%= provide(:title, @kitten.name) %>
<dl class="row">
  <dt class="col-sm-3"><%= @kitten.name %></dt>
  <dd class="col-sm-9">
    <p>Age: <%= @kitten.age %></p>
    <p>Cuteness: <%= @kitten.cuteness %></p>
    <p>Softness: <%= @kitten.softness %></p>
  </dd>
</dl>
<div class="kitten-options">
  <%= link_to "Edit", edit_kitten_path(@kitten) %>
  <%= link_to "Delete", method: :delete, data: { confirm: "Are you sure?" } %>
</div>